body {
    background-image: url('img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    color: white;
}

h1, h2, h3 {
    text-align: center;
    color: rgb(255, 225, 0);
}

p, ul {
    color: aqua;
    padding: 0 20px;
}

p.uno {
    color: rgb(255, 225, 0);
}